<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <style>

        .reference{
        	font-size:18px;
        	background:#fffdd0;
        	box-shadow: 0px 0px 6px 2px #888888;
        }
              table, th, td {
	align:center;
  border: 1px solid black;
  border-collapse: collapse;
}
    </style>
    
    <title>Image-Metadata-App</title>
</head>
<div class="reference">
<li><a href="/addImage">add images here!!</a></li>
</div>
<body style="text-align: center;">
<div>
<form align="right" method="post" action="/loggedout">
  <input type="submit" value="log out">
</form>
</div>
    <br>
    <br>
    <div class="hi">
        <div class="form">
            <h4><b>Search image</b></h4>
            <%= searchmsg%>
            <form method="post" action="/find">
                <label for="name">Enter first feature name</label>
                <select name="name1" id="name1">
			<option value=""></option>
			<option value="image">image</option>
			<option value="gps">gps</option>
			<option value="thumbnail">thumbnail</option>
			<option value="exif">exif</option>
			<option value="interoperability">interoperability</option>
			<option value="path">path</option>
			<option value="__v">__v</option>
		</select>
                <br>
                <label for="name">Enter second feature name</label>
                <select name="name2" id="name2">
			<option value=""></option>
			<option value="ImageDescription">ImageDescription</option>
			<option value="Make">Make</option>
			<option value="Model">Model</option>
			<option value="Orientation">Orientation</option>
			<option value="XResolution">XResolution</option>
			<option value="YResolution">YResolution</option>
			<option value="Software">Software</option>
			<option value="ModifyDate">ModifyDate</option>
			<option value="YCbCrPositioning">YCbCrPositioning</option>
			<option value="ExitOffset">ExitOffset</option>
			<option value="GPSInfo">GPSInfo</option>
			<option value="Compression">Compression</option>
			<option value="ThumbnailOffset">ThumbnailOffset</option>
			<option value="ThumbnailLength">ThumbnailLength</option>
			<option value="ExposureTime">ExposureTime</option>
			<option value="FNumber">FNumber</option>
			<option value="ExposureProgram">ExposureProgram</option>
			<option value="ISO">ISO</option>
			<option value="ExposureCompensation">ExposureCompensation</option>
			<option value="MaxApertureValue">MaxApertureValue</option>
			<option value="MeteringMode">MeteringMode</option>
			<option value="LightSource">LightSource</option>
			<option value="Flash">Flash</option>
			<option value="FocalLength">FocalLength</option>
			<option value="InteropOffset">InteropOffset</option>
			<option value="ExposureMode">ExposureMode</option>
			<option value="FlashpixVersion">FlashpixVersion</option>
			<option value="ColorSpace">ColorSpace</option>
			<option value="WhiteBalance">WhiteBalance</option>
			<option value="DigitalZoomRatio">DigitalZoomRatio</option>
			<option value="FocalLengthIn35mmFormat">FocalLengthIn35mmFormat</option>
			<option value="SceneCaptureType">SceneCaptureType</option>
			<option value="Contrast">Contrast</option>
			<option value="Saturation">Saturation</option>
			<option value="Sharpness">Sharpness</option>
			<option value="GPSLatitude">GPSLatitude</option>
			<option value="GPSLatitudeRef">GPSLatitudeRef</option>
			<option value="GPSLongitudeRef">GPSLongitudeRef</option>
			<option value="GPSLongitude">GPSLongitude</option>
			<option value="GPSAltitudeRef">GPSAltitudeRef</option>
			<option value="GPSTimestamp">GPSTimeStamp</option>
			<option value="GPSSatellites">GPSSatellites</option>
			<option value="GPSMapDatum">GPSMapDatum</option>
			<option value="GPSDateStamp">GPSDateStamp</option>
			<option value="InteropIndex">InteropIndex</option>
			<option value="path">path</option>
			<option value="__v">__v</option>
			
		</select>
		
                <br>
                
                <label for="name">Enter custom feature name</label>
                <input type="text" name="custom_name"  placeholder="optional">
                
                <label for="name">Enter feature value</label>
                <input type="text" name="prop" placeholder="case-sesitive" >
                <br>
                <input type="submit" class = "btn btn-info" value="Find">
            </form>
		<br>
            <form method = "post" action='/listall'> 
   				 <button name="listall" class = "btn btn-info" type="submit" value="yes">List All Images</button>
			</form>
			
        </div>
    </div>

    <br>
    <br>
    <br>
    
    <h6 class="ex">Refer below for some sample features:</h6>
<table align="center">
<tr>
<th>First Feature </th>
<th>Second feature </th>
<th>Value</th>
</tr>
<tr>
<td rowspan="12">image</td>
<td>ImageDescription</td>
<td> sample image</td>
</tr>
<tr>
<td>Make</td>
<td>NIKON</td>
</tr> 
<tr>
<td>Model</td>
<td>COOLPIX P6000</td>
</tr> 
<tr>
<td>Orientation</td>
<td>1</td>
</tr> 
<tr>
<td>XResolution</td>
<td>300</td>
</tr> 
<tr>
<td>YResolution</td>
<td>300</td>
</tr> 
<tr>
<td>ResolutionUnit</td>
<td>2</td>
</tr> 
<tr>
<td>Software</td>
<td>Nikon Transfer 1.1 W</td>
</tr>
<tr>
<td>ModifyDate</td>
<td>2008:11:01 21:15:07</td>
</tr> 
<tr>
<td>YCbCrPositioning</td>
<td>1</td>
</tr> 
<tr>
<td>ExitOffset</td>
<td>268</td>
</tr> 
<tr>
<td>GPSInfo</td>
<td>926</td>
</tr> 
<tr>
<td rowspan ="3"> thumbnail</td>
<td>Compression</td>
<td>6</td>
</tr>  
<tr>
<td>ThumbnailOffset</td>
<td>4548</td>
</tr>  
<tr>
<td>ThumbnailLength</td>
<td>6339</td>
</tr>
<tr>
<td rowspan="17">exif</td>
<td>ISO</td>
<td>64</td>
</tr> 
<tr>
<td>ExposureTime</td>
<td>0.00560852</td>
</tr> 
<tr>
<td>FNumber</td>
<td>4.5</td>
</tr>  
<tr>
<td>ExposureProgram</td>
<td>2</td>
</tr>
<tr>
<td>ISO</td>
<td>64</td>
</tr> 
<tr>
<td>MaxApertureValue</td>
<td>2.9</td>
</tr> 
<tr>
<td>MeteringMode</td>
<td>5</td>
</tr> 
<tr>
<td>LightSource</td>
<td>0</td>
</tr> 
<tr>
<td>Flash</td>
<td>16</td>
</tr>  
<tr>
<td>FocalLength</td>
<td>6</td>
</tr> 
<tr>
<td>ColorSpace</td>
<td>1</td>
</tr> 
<tr>
<td>InteropOffset</td>
<td>896</td>
</tr> 
<tr>
<td>WhiteBalance</td>
<td>0</td>
</tr> 
<tr>
<td>FocalLengthIn35mmFormat</td>
<td>28</td>
</tr> 
<tr>
<td>Contrast</td>
<td>0</td>
</tr> 
<tr>
<td>Saturation</td>
<td>0</td>
</tr> 
<tr>
<td>Sharpness</td>
<td>0</td>
</tr>
<tr>
<td rowspan="9">gps</td> 
<td>GPSLatitudeRef</td>
<td>N</td>
</tr> 
<tr>
<td>GPSLatitude</td>
<td>[43,28,1.7639999]</td>
</tr>
<tr>
<td>GPSLongitudeRef</td>
<td>E</td>
</tr> 
<tr>
<td>GPSLongitude</td>
<td>[11,53,7.4219999]</td>
</tr>  
<tr>
<td>GPSAltitudeRef</td>
<td>0</td>
</tr>
<tr>
<td>GPSTimeStamp</td>
<td>[14,28,17.24]</td>
</tr>   
<tr>
<td>GPSSatellites</td>
<td>06</td>
</tr> 
<tr>
<td>GPSMapDatum</td>
<td>WGS-84</td>
</tr> 
<tr>
<td>GPSDateStamp</td>
<td>2008:10:23</td>
</tr> 
<tr>
<td>interoperability</td>
<td>InteropIndex</td>
<td>R98</td>
</tr> 
<tr>
<td>path</td>
<td></td>
<td>public\uploads\myImage-1605245623599.jpeg</td>
</tr> 
<tr>
<td>__v</td>
<td></td>
<td>0</td>
</table>
<br><br>
 
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>
